@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';


.srcDestLine::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -8px;
    height: 20px;
    width: 20px;
    background-color: rgb(255 255 255);
    border: 7px solid rgb(59, 59, 59);
    border-radius: 10px;
}

.srcDestLine::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: -8px;
    height: 20px;
    width: 20px;
    background-color: rgb(167, 167, 167);
    border-radius: 10px;
}
.confirmed-vehical-img {
    filter: drop-shadow(0px 28px 6px rgb(126, 126, 126));
}